[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RNifti"]
	path = RNifti
	url = https://github.com/jonclayden/rnifti
[submodule "RNiftyReg"]
	path = RNiftyReg
	url = https://github.com/jonclayden/rniftyreg
[submodule "RcppArray"]
	path = RcppArray
	url = https://github.com/jonclayden/rcpparray
[submodule "divest"]
	path = divest
	url = https://github.com/jonclayden/divest
[submodule "imbibe"]
	path = imbibe
	url = https://github.com/jonclayden/imbibe
[submodule "loder"]
	path = loder
	url = https://github.com/jonclayden/loder
[submodule "mmand"]
	path = mmand
	url = https://github.com/jonclayden/mmand
[submodule "mritc"]
	path = mritc
	url = https://github.com/jonclayden/mritc
[submodule "ore"]
	path = ore
	url = https://github.com/jonclayden/ore
[submodule "reportr"]
	path = reportr
	url = https://github.com/jonclayden/reportr
[submodule "shades"]
	path = shades
	url = https://github.com/jonclayden/shades
[submodule "soma"]
	path = soma
	url = https://github.com/jonclayden/soma
